@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

body {
  background: url('../assets/ikn2.jpeg') center/cover no-repeat;
  color: rgb(216, 209, 209);
}

/* ===== NAVBAR ===== */
#navigasi {
  background-image: url('../assets/bg4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9;
}

#navigasi a {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}

/* ===== CONTAINER ===== */
/* ======== LOGO NAVBAR ======== */
.logo img {
  height: 60px;
  width: auto;
  object-fit: contain;
}

.logo:hover img {
  transition: all .2s ease-in;
  transform: scale(1.05);
  cursor: pointer;
}

.navbar .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

.profil-section {
  padding-top: 100px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #5858584d;

}

.profil-container {
  background-color: rgba(80, 60, 80, 0.75);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 40px 60px;
  width: 90%;
  max-width: 1100px;
  border: 2px solid hwb(120 40% 52%);
  box-shadow: 1px 3px 25px rgba(0, 0, 0, 0.4);
}

.profil-container h1 {
  text-align: center;
  font-weight: 800;
  font-size: 2.2rem;
  margin-bottom: 40px;
}



/* ===== CONTENT LAYOUT ===== */
.profil-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.profil-form {
  flex: 1 1 60%;
}

.profil-side {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ===== AVATAR ===== */
.profil-avatar {
  width: 150px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
  color: white;
  margin-bottom: 10px;
}

/* ===== FORM ===== */
label {
  font-weight: 600;
  margin-bottom: 4px;
}

.form-control {
  border-radius: 8px;
  border: none;
  padding: 10px 12px;
  margin-bottom: 5px;
}

textarea.form-control {
  height: 80px;
  resize: none;
}


/* ===== FOOTER ===== */
footer {
  background-color: rgba(30, 25, 60, 0.9);
  /* background-color: rgba(130, 99, 192, 0.62); */
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 40px; */
}

footer p {
  color: white;
  margin: 0;
  font-size: 14px;
}


/* ============RESPONSIVE================= */
@media screen and (max-width: 980px) {
  .profil-container {
    padding: 40px 20px;
  }

  .container-fluid {
    padding: 0 10px !important;
  }

  input.form-control {
    padding: 6px 12px !important;
  }
}