@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;700;800&display=swap');




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

body {
  background: url('../assets/ikn2.jpeg') center/cover no-repeat fixed;
  display: flex;
  color: white;
}

/* ===== SIDEBAR ===== */
.sidebar {
  background-color: rgba(30, 25, 60, 0.9);
  backdrop-filter: blur(10px);
  height: 100%;
  
}

#sidebar-nav ul{
  margin-top:30px;
}
.sidebar ul li a {
  color:#dadbdf !important;
}

.nav{
  width:100%;
}

.logo{
  width: 100%;
  height: 100px;
}
hr{
  margin: 0;
  opacity:1;
}
.border1{
  border: none !important;
}
.text-light{
  color:#ccc ;
}
.menu {
  list-style: none;
  padding: 0 15px;
}

.menu li {
  margin-bottom: 10px;
}

.menu li a {
  color: #ddd;
  text-decoration: none;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  transition: background 0.3s;
}

.menu li a:hover,
.menu li a.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.menu-section {
  font-weight: 700;
  color: #ccc;
  font-size: 13px;
  margin: 15px 0 5px 10px;
}

/* ===== MAIN CONTENT ===== */
main{
  height: 100vh;
}

.topbar {
  background-image: url('../assets/bg4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.85;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.profile a i {
  font-size: 28px;
  cursor: pointer;
}

/* ===== RIWAYAT SECTION ===== */
.riwayat-section {
  height: 100%;
  padding: 30px 30px 0 30px;
}

.search-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.search-bar input {
  flex: 1;
}

.riwayat-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.riwayat-card {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease;
}

.riwayat-card:hover {
  background-color: rgba(0, 0, 0, 0.65);
}

.status {
  padding: 3px 10px;
  border-radius: 8px;
  font-size: 13px;
}

.status.pending {
  background-color: #ffc107;
  color: black;
}

.status.success {
  background-color: #4caf50;
}

footer {
  background-color: rgba(108, 85, 154, 0.7);
  text-align: center;
  padding: 8px;
  margin:0;
}
footer p {
  margin:0;
}

@media screen and (max-width: 980px) {
.sidebar-header a img{
  height:20px;
}
.main-content{
  width:100%;
  margin-left:50px;
}
.sidebar ul li a{
  display:flex;
  align-items: left !important;
  justify-content:left;
}
.nav{
  top:0;
}
}